export VIRTUAL_ENV=.venv
python_version=$(cat .python-version)
layout pyenv $python_version
layout python
[ -d "$VIRTUAL_ENV" ] && \
    [ ! -e "$VIRTUAL_ENV/bin/poetry" ] && \
    pip install poetry
dotenv_if_exists .env